img {
    width: 100%;
    padding: 20px;
    opacity: 0.5;
}

input {
    background-color: lightgray;
    border: 1px solid black;
}

.planet-image {
    height: 100% !important;
}

.milky-way:hover {
    color: rgb(190, 227, 250) !important;
}

@media screen and (max-width: 576px){
    img {
        width: 75%;
    }

    .planet-image {
        width: 75% !important;
        margin: 0 auto;
    }
}
