img {
    width: 100%;
    padding: 20px;
    opacity: 0.6;
}

input {
    background-color: lightgray;
}

.planet-image {
    height: 100% !important;
}

.milky-way:hover {
    color: rgb(190, 227, 250) !important;
}
