img {
    width: 100%;
    padding: 20px;
    opacity: 0.8 !important;
}

input {
    background-color: lightgray;
    border: 1px solid black;
}

.planet-image {
    height: 100% !important;
}

.milky-way:hover {
    color: rgb(190, 227, 250) !important;
}

.bg-custom {
    background-color: rgba(0, 0, 0, 0.2);
}

.modal-content {
    opacity: 1 !important;
}
.celesterial-links {
    font-size: 16px;
}

.Planets {
    transition-timing-function: ease-in !important;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.603);
    padding: 15px;
    margin: 0 auto;
}

.fa-arrow-up {
    position: relative;
    top: -10px;
    right: 8px;
}

@media screen and (max-width: 576px){
    img {
        width: 75%;
    }

    .planet-image {
        width: 75% !important;
        margin: 0 auto;
    }
    .celesterial-links {
        font-size: 12px;
        padding: 2px;
    }

    .fa-arrow-up {
        top: -12px;
        right: 7px;
    }
}
