.image:hover {
    opacity: 0.6;
}

.modal-content {
    background: rgba(0, 0, 0, 0.7) !important;
}

.modal {
    top: 15%;
}

.form-select, .form-control {
    margin: 5px;
    border-radius: 0;
}

.bg-update {
    background-color: rgba(5, 5, 5, 0.137);
}

.bg-update:hover {
    background-color: rgba(150, 150, 150, 0.137);
}

.update-form {
    position: absolute;
    width: 35%;
    top: 15%;
    left: 32%;
    padding: 20px;
}

.bg-update-modal {
    background-color: rgba(5, 5, 5, 0.616);
}

.form-control {
    padding: 2px !important;
}


@media screen and (max-width: 992px){
    .update-form {        
        width: 60%;
        left: 20%
    }    
}

@media screen and (max-width: 576px){
    .form-select, .form-control {
        padding: 2px;
    }
    .modal-content {
        width: 90%;
        left: 5%;
    }

    .update-form {        
        width: 90%;
        left: 5%
    }    
}